# PANDAS TIPS

In [1]:
import pandas as pd
import ipywidgets as widgets

In [2]:
pokemon_list = pd.read_csv("pokemon_data.csv", index_col = ['#'])
print('First 5 rows\n',pokemon_list.head(5))
print('Last 5 rows\n',pokemon_list.tail(5))
print('Full table\n')
pokemon_list

First 5 rows
                     Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
#
1              Bulbasaur  Grass  Poison  45      49       49       65
2                Ivysaur  Grass  Poison  60      62       63       80
3               Venusaur  Grass  Poison  80      82       83      100
3  VenusaurMega Venusaur  Grass  Poison  80     100      123      122
4             Charmander   Fire     NaN  39      52       43       60

   Sp. Def  Speed  Generation  Legendary
#
1       65     45           1      False
2       80     60           1      False
3      100     80           1      False
3      120     80           1      False
4       50     65           1      False
Last 5 rows
                     Name   Type 1 Type 2  HP  Attack  Defense  Sp. Atk  \
#
719              Diancie     Rock  Fairy  50     100      150      100
719  DiancieMega Diancie     Rock  Fairy  50     160      110      160
720  HoopaHoopa Confined  Psychic  Ghost  80     110       60      150
720   HoopaHoopa Unbound  Psychic   Dark  80     160       60      170
721            Volcanion     Fire  Water  80     110      120      130

     Sp. Def  Speed  Generation  Legendary
#
719      150     50           6       True
719      110    110           6       True
720      130     70           6       True
720      130     80           6       True
721       90     70           6       True
Full table

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...
719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

## Read information from Dataframe

In [3]:
## Read by columns
pokemon_list[["Name", "Speed", "Attack", "Defense"]]

                      Name  Speed  Attack  Defense
#
1                Bulbasaur     45      49       49
2                  Ivysaur     60      62       63
3                 Venusaur     80      82       83
3    VenusaurMega Venusaur     80     100      123
4               Charmander     65      52       43
..                     ...    ...     ...      ...
719                Diancie     50     100      150
719    DiancieMega Diancie    110     160      110
720    HoopaHoopa Confined     70     110       60
720     HoopaHoopa Unbound     80     160       60
721              Volcanion     70     110      120

[800 rows x 4 columns]

In [ ]:
pokemon_list['Type 1'].unique()

### Use of loc(names) and iloc(index)

In [ ]:
## Read by rows
print('pd.Dataframe.loc:\n', pokemon_list.loc[0:3])
print('pd.Dataframe.iloc:\n', pokemon_list.iloc[0:3])

In [ ]:
## Read by (R,C) position
print('With loc:',pokemon_list.loc[1,'Name'])
print('With iloc:',pokemon_list.iloc[0,0])

In [4]:
## Read by condition, multiple condition requires ()
fire = pokemon_list.loc[(pokemon_list['Attack'] >= 100) & 
                        (pokemon_list['Type 1'] == 'Fire') & 
                        (pokemon_list['Name'].str.contains(pat="mega", case=False))] # DataFrame.str.contains search by strings, case is for Upercase sensitive
print('Reading with condition:\n')
fire.head(10)

Reading with condition:

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,
6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False
257,BlazikenMega Blaziken,Fire,Fighting,80,160,80,130,80,100,3,False
323,CameruptMega Camerupt,Fire,Ground,70,120,100,145,105,20,3,False

### Dataframe information

In [ ]:
## Data information
print(pokemon_list.info())
pokemon_list.describe()

In [ ]:
## Sorting data, multiple sorting conditions
pokemon_list.sort_values(["Attack", "Defense"], ascending=[False,True])

In [ ]:
## Create new column
pokemon_list['Total pw'] = pokemon_list.loc[:, 'HP':'Speed'].sum(axis=1) # warning with the axis 1 = horizontal; 0 = Vertical
pokemon_list

In [ ]:
## looking for rows where column Type 2 is different of null or nan
doble_type = pokemon_list.loc[~pokemon_list['Type 2'].isnull()]
doble_type
#type(doble_type)

### Save data in external files

In [ ]:
## Save data in external file 
#doble_type.to_csv("doble type pokemon.csv", index=False)
#doble_type.to_csv("doble type pokemon.txt", sep="\t")
doble_type.to_excel("doble type pokemon.xlsx", index=False)

### Filtering Data
#### Using widgets for interact with the table directly in real time

In [ ]:
type_list = pokemon_list['Type 1'].unique() # Give the type of the pokemons

# Define a widget type Dropdown
pok_type = widgets.Dropdown(
            options = type_list,
            value= type_list[0] if len(type_list) else "Select",
            disable= False,
            description= 'Type: '
        )

# Define a widget type IntSlider
pok_HP = widgets.IntSlider(min = 0, max= pokemon_list['HP'].max(), value = 0, description= 'HP: ')

new_df = pd.DataFrame()

# The function to interact in real time
def view(x, hp):
    pok_HP.max = pokemon_list.loc[(pokemon_list['Type 1'] == x)]['HP'].max() # Change the max value of the IntSlider dinamically
    pok_HP.min = pokemon_list.loc[(pokemon_list['Type 1'] == x)]['HP'].min() # Change the min value of the IntSlider dinamically
    
    # Return the new generated table and reset index from 0
    return pokemon_list.loc[(pokemon_list['Type 1'] == x) & (pokemon_list['HP'] >= hp)].reset_index()

# ipywidgets.interact makes possible the interaction
widgets.interact(view, x = pok_type, hp = pok_HP)

### Conditional Changes

In [ ]:
# This change all the nan values of the Type 2 column and changes by 'Transformer'
pokemon_list.loc[pokemon_list["Type 2"].isnull(), 'Type 2'] = 'Transformer'

# This is a conditional change with multiple changes
pokemon_list.loc[pokemon_list['HP'] > 200, ['Generation', 'Legendary']] = [10, True]
pokemon_list.sort_values("HP", ascending=False)

### Agregate Statistics (Groupby)

In [ ]:
# Group the rows by Type 1 and get the total values 
pokemon_list.groupby(['Type 1']).sum()

# Group the rows by Type 1 and get the mean values 
pokemon_list.groupby(['Type 1']).mean()

# Group the rows by Type 1 and get the quantity of values(nan is not included) 
pokemon_list.groupby(['Type 1', 'Type 2']).count()