# PANDAS TIPS

In [ ]:
import pandas as pd

In [39]:
pokemon_list = pd.read_csv("pokemon_data.csv", index_col = ['#'])
print('First 5 rows\n',pokemon_list.head(5))
print('Last 5 rows\n',pokemon_list.tail(5))
print('Full table\n')
pokemon_list

First 5 rows
                     Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
#
1              Bulbasaur  Grass  Poison  45      49       49       65
2                Ivysaur  Grass  Poison  60      62       63       80
3               Venusaur  Grass  Poison  80      82       83      100
3  VenusaurMega Venusaur  Grass  Poison  80     100      123      122
4             Charmander   Fire     NaN  39      52       43       60

   Sp. Def  Speed  Generation  Legendary
#
1       65     45           1      False
2       80     60           1      False
3      100     80           1      False
3      120     80           1      False
4       50     65           1      False
Last 5 rows
                     Name   Type 1 Type 2  HP  Attack  Defense  Sp. Atk  \
#
719              Diancie     Rock  Fairy  50     100      150      100
719  DiancieMega Diancie     Rock  Fairy  50     160      110      160
720  HoopaHoopa Confined  Psychic  Ghost  80     110       60      150
720   HoopaHoopa Unbound  Psychic   Dark  80     160       60      170
721            Volcanion     Fire  Water  80     110      120      130

     Sp. Def  Speed  Generation  Legendary
#
719      150     50           6       True
719      110    110           6       True
720      130     70           6       True
720      130     80           6       True
721       90     70           6       True
Full table

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...
719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

## Read information from Dataframe

In [40]:
## Read by columns
pokemon_list[["Name", "Speed", "Attack", "Defense"]]

                      Name  Speed  Attack  Defense
#
1                Bulbasaur     45      49       49
2                  Ivysaur     60      62       63
3                 Venusaur     80      82       83
3    VenusaurMega Venusaur     80     100      123
4               Charmander     65      52       43
..                     ...    ...     ...      ...
719                Diancie     50     100      150
719    DiancieMega Diancie    110     160      110
720    HoopaHoopa Confined     70     110       60
720     HoopaHoopa Unbound     80     160       60
721              Volcanion     70     110      120

[800 rows x 4 columns]

In [98]:
pokemon_list['Type 1'].unique()

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total pw
#,,,,,,,,,,,,
10,Caterpie,Bug,NaN,45,30,35,20,20,45,1,False,NaN
37,Vulpix,Fire,NaN,38,41,40,50,65,65,1,False,NaN
70,Weepinbell,Grass,Poison,65,90,50,85,45,55,1,False,NaN
78,Rapidash,Fire,NaN,65,100,70,80,80,105,1,False,NaN
167,Spinarak,Bug,Poison,40,60,40,40,40,30,2,False,NaN
175,Togepi,Fairy,NaN,35,20,65,40,65,20,2,False,NaN
187,Hoppip,Grass,Flying,35,35,40,35,55,50,2,False,NaN
247,Pupitar,Rock,Ground,70,84,70,65,70,51,2,False,NaN
316,Gulpin,Poison,NaN,70,43,53,43,53,40,3,False,NaN
326,Grumpig,Psychic,NaN,80,45,65,90,110,80,3,False,NaN
327,Spinda,Normal,NaN,60,60,60,60,60,60,3,False,NaN
328,Trapinch,Ground,NaN,45,100,45,45,45,10,3,False,NaN
357,Tropius,Grass,Flying,99,68,83,72,87,51,3,False,NaN
416,Vespiquen,Bug,Flying,70,80,102,80,102,40,4,False,NaN
440,Happiny,Normal,NaN,100,5,5,15,65,30,4,False,NaN
442,Spiritomb,Ghost,Dark,50,92,108,92,108,35,4,False,NaN
451,Skorupi,Poison,Bug,40,50,90,30,55,65,4,False,NaN
452,Drapion,Poison,Dark,70,90,110,60,75,95,4,False,NaN
498,Tepig,Fire,NaN,65,63,45,45,45,45,5,False,NaN
536,Palpitoad,Water,Ground,75,65,55,65,55,69,5,False,NaN
650,Chespin,Grass,NaN,56,61,65,48,45,38,6,False,NaN

### Use of loc(names) and iloc(index)

In [41]:
## Read by rows
print('pd.Dataframe.loc:\n', pokemon_list.loc[0:3])
print('pd.Dataframe.iloc:\n', pokemon_list.iloc[0:3])

pd.Dataframe.loc:
                     Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
#
1              Bulbasaur  Grass  Poison  45      49       49       65
2                Ivysaur  Grass  Poison  60      62       63       80
3               Venusaur  Grass  Poison  80      82       83      100
3  VenusaurMega Venusaur  Grass  Poison  80     100      123      122

   Sp. Def  Speed  Generation  Legendary
#
1       65     45           1      False
2       80     60           1      False
3      100     80           1      False
3      120     80           1      False
pd.Dataframe.iloc:
         Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  \
#
1  Bulbasaur  Grass  Poison  45      49       49       65       65     45
2    Ivysaur  Grass  Poison  60      62       63       80       80     60
3   Venusaur  Grass  Poison  80      82       83      100      100     80

   Generation  Legendary
#
1           1      False
2           1      False
3           1      False

In [21]:
## Read by (R,C) position
print('With loc:',pokemon_list.loc[1,'Name'])
print('With iloc:',pokemon_list.iloc[0,0])

With loc: Bulbasaur
With iloc: Bulbasaur

In [101]:
## Read by condition, multiple condition requires ()
fire = pokemon_list.loc[(pokemon_list['Attack'] >= 100) & (pokemon_list['Type 1'] == 'Fire') & (pokemon_list['Name'].str.contains(pat="pi"))]
print('Reading with condition:\n')
fire.head(10)

Reading with condition:

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total pw
#,,,,,,,,,,,,
78,Rapidash,Fire,NaN,65,100,70,80,80,105,1,False,NaN

### Dataframe information

In [87]:
## Data information
print(pokemon_list.info())
pokemon_list.describe()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 800 entries, 1 to 721
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        800 non-null    object
 1   Type 1      800 non-null    object
 2   Type 2      414 non-null    object
 3   HP          800 non-null    int64
 4   Attack      800 non-null    int64
 5   Defense     800 non-null    int64
 6   Sp. Atk     800 non-null    int64
 7   Sp. Def     800 non-null    int64
 8   Speed       800 non-null    int64
 9   Generation  800 non-null    int64
 10  Legendary   800 non-null    bool
 11  Total pw    0 non-null      float64
dtypes: bool(1), float64(1), int64(7), object(3)
memory usage: 95.8+ KB
None

,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Total pw
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000,0.0
mean,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375,NaN
std,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129,NaN
min,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000,NaN
25%,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000,NaN
50%,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000,NaN
75%,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000,NaN
max,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000,NaN

In [46]:
## Sorting data, multiple sorting conditions
pokemon_list.sort_values(["Attack", "Defense"], ascending=[False,True])

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,
150,MewtwoMega Mewtwo X,Psychic,Fighting,106,190,100,154,100,130,1,True
214,HeracrossMega Heracross,Bug,Fighting,80,185,115,40,105,75,2,False
386,DeoxysAttack Forme,Psychic,NaN,50,180,20,180,20,150,3,True
384,RayquazaMega Rayquaza,Dragon,Flying,105,180,100,180,100,115,3,True
383,GroudonPrimal Groudon,Ground,Fire,100,180,160,150,90,90,3,True
...,...,...,...,...,...,...,...,...,...,...,...
242,Blissey,Normal,NaN,255,10,10,75,135,55,2,False
129,Magikarp,Water,NaN,20,10,55,15,20,80,1,False
213,Shuckle,Bug,Rock,20,10,230,10,230,5,2,False
113,Chansey,Normal,NaN,250,5,5,35,105,50,1,False
440,Happiny,Normal,NaN,100,5,5,15,65,30,4,False

In [77]:
## Create new column
pokemon_list['Total pw'] = pokemon_list.loc[:, 'HP':'Speed'].sum(axis=1) # warning with the axis 1 = horizontal; 0 = Vertical
pokemon_list

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total pw
#,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,NaN
2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,NaN
3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,NaN
3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,NaN
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,NaN
719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,NaN
720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,NaN
720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,NaN
721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,NaN

In [72]:
## looking for rows where column Type 2 is different of null or nan
doble_type = pokemon_list.loc[~pokemon_list['Type 2'].isnull()]
doble_type
#type(doble_type)

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total pw
#,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False,534
...,...,...,...,...,...,...,...,...,...,...,...,...
719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,600
719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,700
720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,600
720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,680
721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,600

### Save data in external files

In [86]:
## Save data in external file 
#doble_type.to_csv("doble type pokemon.csv", index=False)
#doble_type.to_csv("doble type pokemon.txt", sep="\t")
doble_type.to_excel("doble type pokemon.xlsx", index=False)

### Filtering Data